kubernetes/todo_list.pdf
ec-manager-web.tar
ec-manager.tar
__pycache__
*.pdf
*.vscode
*.DS_Store
# Harbor/harbor
*.tgz
*.tar
*.tgz
CPP/main
kubernetes/api
deepstream/deepstream-6.2/*
deepstream/deepstream-6.2.zip
kubernetes/nvidia/deepstream-6.2/*
deepstream-6.2.zip
output.mp4
atl500/Ascend-cann-nnrt_6.0.1_linux-aarch64.run
atl500/小站配置.zip
atl500/样例运行配置.zip
build/
CrossCompile/aarch64-install
CrossCompile/arm_bin
CrossCompile/arm-install
CrossCompile/compressed
CrossCompile/source
CrossCompile/bak/
CrossCompile/com.log
nvidia/cuda-repo-ubuntu2004-12-3-local_12.3.1-545.23.08-1_amd64.deb
